
header {
  position: relative;
  background-color: #000;
}

.cont {
    position: relative;
}

.navi {
  background-color: #222;
  border-color: #222;
  width: 100%;
  height: 3%;
}

.nav-text {
  position: absolute;
  top: 2%;
  right: 2.5%;
  left: auto;
  font-size: 1.5em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.logo {
  position: absolute;
  width: 18%;
  height: 18%;
  top: 1.5em;
  left: .5em;
  font-size: 18px;
}

.jumbopic {
    width: 100%;
    height: auto;
    opacity: 0.5;
    vertical-align: none;
}

.centered {
  text-align: center;
  color: #b11e56;
}

we-do {
  background-color: #282757;
}
